{% extends 'wxservice/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content%}

<!-- <div class="media">
    <img height="72" width="72" src="{% if user.profile.image.url %}{{ user.profile.image.url }}{% else%}{{ user.headimgurl}} {%endif%}"
        alt="" class="rounded-circle account-img">
    <div class="media-body pl-4">
        {% if user.username %}
        <h2 class="account-heading">{{ user.username}}</h2>
        {% else %}
        <h2 class="account-heading">{{ user.nickname}}</h2>
        {% endif %}
        <p class="text-secondary">{{ user.email }}</p>
    </div>
</div> -->
<!-- Order information Right here -->
<div class="card-header">
    <h5 class="my-0 mb-3 font-weight-normal">Your Orders</h5>
    {% for order in user.order_set.all %}
    <div class="card flex-row mb-4 shadow-sm">
        <img class="card-img-right mr-2" data-src="holder.js/80x80?theme=thumb" alt="Thumbnail [200x250]" style="width: 100px; height: 100px;"
            src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22200%22%20height%3D%22250%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20200%20250%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_166d2d5ad9d%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A13pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_166d2d5ad9d%22%3E%3Crect%20width%3D%22200%22%20height%3D%22250%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2256.203125%22%20y%3D%22130.7%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
            data-holder-rendered="true">
        <div class="card-body flex-column align-items-start">
            <h5 class="mb-0">
                <a class="text-dark" href="#">{{order.customer}}</a>
            </h5>
            <div class="mb-0 text-muted">{{ order.create_time }}</div>
            <p class="card-text mb-0">{{ order.order_detail }}</p>
            <a class="" href="#">Review</a>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}