{% extends 'review/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content%}
<div class="jumbotron">
    <form action="" method="post">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="mb-4 border-bottom">Log In</legend>
            {{ form |crispy }}
        </fieldset>
        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-primary">
        </div>
        <div class="border-top pt-3">
            <small class="text-muted">
                Need An Account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
            </small>
        </div>
    </form>
</div>
{% endblock %}